<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtkj.dao.ActivityPhotoAlbumMapper">
  <resultMap id="BaseResultMap" type="com.xtkj.pojo.ActivityPhotoAlbum">
    <id column="ACTIVITY_ID" jdbcType="VARCHAR" property="activityId" />
    <id column="PHOTO_ALBUM_ID" jdbcType="VARCHAR" property="photoAlbumId" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ACTIVITY_ID, PHOTO_ALBUM_ID, UPDATE_TIME, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.xtkj.pojo.ActivityPhotoAlbumKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_ACTIVITY_PHOTO_ALBUM
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
      and PHOTO_ALBUM_ID = #{photoAlbumId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.xtkj.pojo.ActivityPhotoAlbumKey">
    delete from TB_ACTIVITY_PHOTO_ALBUM
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
      and PHOTO_ALBUM_ID = #{photoAlbumId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xtkj.pojo.ActivityPhotoAlbum">
    insert into TB_ACTIVITY_PHOTO_ALBUM (ACTIVITY_ID, PHOTO_ALBUM_ID, UPDATE_TIME, 
      CREATE_TIME)
    values (#{activityId,jdbcType=VARCHAR}, #{photoAlbumId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xtkj.pojo.ActivityPhotoAlbum">
    insert into TB_ACTIVITY_PHOTO_ALBUM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        ACTIVITY_ID,
      </if>
      <if test="photoAlbumId != null">
        PHOTO_ALBUM_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="photoAlbumId != null">
        #{photoAlbumId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xtkj.pojo.ActivityPhotoAlbum">
    update TB_ACTIVITY_PHOTO_ALBUM
    <set>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
      and PHOTO_ALBUM_ID = #{photoAlbumId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xtkj.pojo.ActivityPhotoAlbum">
    update TB_ACTIVITY_PHOTO_ALBUM
    set 
    	UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
      and PHOTO_ALBUM_ID = #{photoAlbumId,jdbcType=VARCHAR}
  </update>
  <select id="selectByActivityId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_ACTIVITY_PHOTO_ALBUM
    where ACTIVITY_ID = #{activityId,jdbcType=VARCHAR}
  </select>
</mapper>