<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtkj.dao.ActivityViewCountMapper">
  <resultMap id="BaseResultMap" type="com.xtkj.pojo.ActivityViewCount">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ACTIVITY_ID" jdbcType="VARCHAR" property="activityId" />
    <result column="ACTIVITY_VIEW_COUNT" jdbcType="DECIMAL" property="activityViewCount" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ACTIVITY_ID, ACTIVITY_VIEW_COUNT, UPDATE_TIME, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_ACTIVITY_VIEW_COUNT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_ACTIVITY_VIEW_COUNT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xtkj.pojo.ActivityViewCount">
    insert into TB_ACTIVITY_VIEW_COUNT (ID, ACTIVITY_ID, ACTIVITY_VIEW_COUNT, 
      UPDATE_TIME, CREATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{activityId,jdbcType=VARCHAR}, #{activityViewCount,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xtkj.pojo.ActivityViewCount">
    insert into TB_ACTIVITY_VIEW_COUNT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="activityId != null">
        ACTIVITY_ID,
      </if>
      <if test="activityViewCount != null">
        ACTIVITY_VIEW_COUNT,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="activityViewCount != null">
        #{activityViewCount,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xtkj.pojo.ActivityViewCount">
    update TB_ACTIVITY_VIEW_COUNT
    <set>
      <if test="activityId != null">
        ACTIVITY_ID = #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="activityViewCount != null">
        ACTIVITY_VIEW_COUNT = #{activityViewCount,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xtkj.pojo.ActivityViewCount">
    update TB_ACTIVITY_VIEW_COUNT
    set ACTIVITY_ID = #{activityId,jdbcType=VARCHAR},
      ACTIVITY_VIEW_COUNT = #{activityViewCount,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>