<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtkj.dao.ShiroPermissionsMapper">
  <resultMap id="BaseResultMap" type="com.xtkj.pojo.ShiroPermissions">
    <id column="P_ID" jdbcType="DECIMAL" property="pId" />
    <result column="P_NAME" jdbcType="VARCHAR" property="pName" />
  </resultMap>
  <sql id="Base_Column_List">
    P_ID, P_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_SHIRO_PERMISSIONS
    where P_ID = #{pId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from TB_SHIRO_PERMISSIONS
    where P_ID = #{pId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.xtkj.pojo.ShiroPermissions">
    insert into TB_SHIRO_PERMISSIONS (P_ID, P_NAME)
    values (#{pId,jdbcType=DECIMAL}, #{pName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xtkj.pojo.ShiroPermissions">
    insert into TB_SHIRO_PERMISSIONS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        P_ID,
      </if>
      <if test="pName != null">
        P_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=DECIMAL},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xtkj.pojo.ShiroPermissions">
    update TB_SHIRO_PERMISSIONS
    <set>
      <if test="pName != null">
        P_NAME = #{pName,jdbcType=VARCHAR},
      </if>
    </set>
    where P_ID = #{pId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xtkj.pojo.ShiroPermissions">
    update TB_SHIRO_PERMISSIONS
    set P_NAME = #{pName,jdbcType=VARCHAR}
    where P_ID = #{pId,jdbcType=DECIMAL}
  </update>
</mapper>