<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:component-scan
		base-package="com.xtkj.service"></context:component-scan>

	<context:component-scan
		base-package="com.xtkj.dao"></context:component-scan>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:DataBase.properties</value>
				<value>classpath*:spring_redis.propertise</value>
			</list>
		</property>
	</bean>

	<!-- 配置数据库连接 使用c3po连接池 --><!-- 注入属性 -->
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${oracle_xtkj.driver}"></property>
		<property name="jdbcUrl" value="${oracle_xtkj.url}"></property>
		<property name="user" value="${oracle_xtkj.user}"></property>
		<property name="password" value="${oracle_xtkj.password}"></property>
	</bean>

	<!-- 创建SqlSessionFactory -->
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 配置数据源，并使用连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 加载sqlMapConfig配置文件 -->
		<property name="configLocation"
			value="classpath:SqlMapConfig.xml"></property>
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations"
			value="classpath:com/xtkj/mapper/*.xml"></property>
	</bean>


	<!-- 处理mybatis和接口 -->
	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.xtkj.dao" />
		<property name="sqlSessionFactoryBeanName"
			value="sqlSessionFactory"></property>
	</bean>
	
	<!-- 事务管理器 -->
	<bean name="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 配置管理到哪个数据源 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 规则，在那个事务管理上订规则 -->
	<tx:advice id="userTxAdvice"
		transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="delete*" propagation="REQUIRED"
				read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="save*" propagation="REQUIRED"
				read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="paySumMoney*" propagation="REQUIRED"
			read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="insert*" propagation="REQUIRED"
				read-only="false" rollback-for="java.lang.RuntimeException" />
			<tx:method name="update*" propagation="REQUIRED"
				read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="find*" propagation="SUPPORTS" />
			<tx:method name="get*" propagation="SUPPORTS" />
			<tx:method name="select*" propagation="SUPPORTS" />
		</tx:attributes>
	</tx:advice>

	<!-- 将事务应用到那个业务上 -->
	<aop:config>
		<aop:pointcut id="xtkj"
			expression="execution( * com.xtkj.service.*.*.*(..))" /> <!--把事务控制在Service层 -->
		<aop:advisor advice-ref="userTxAdvice" pointcut-ref="xtkj" />
	</aop:config>

	<!-- 事务管理注解 <tx:annotation-driven transaction-manager="transactionManager" 
		/> -->
	
	<import resource="spring-redis.xml" />
	<import resource="spring/spring-shiro.xml"/>
	 
</beans>
